/*_____________reset_css_____________*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dnone {
  display: none;
}

.menu-burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu-burger #burger {
  height: 19px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.menu-burger #burger span {
  height: 3px;
  width: 25px;
  background-color: #8C30F5;
  border-radius: 2px;
}

* {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-variant-numeric: lining-nums;
  color: #160728;
}

*::-moz-selection {
  background-color: rgba(140, 48, 245, 0.5);
}

*::selection {
  background-color: rgba(140, 48, 245, 0.5);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container-s {
  width: 970px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

.txt-l {
  font-size: 20px;
}

.txt-m {
  font-size: 16px;
}

a {
  color: #160728;
  font-size: 16px;
}

a.btn, button.btn {
  color: #ffffff;
  background-color: #8C30F5;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: none;
}

a.btn:hover, button.btn:hover {
  background-color: #3E0D76;
  letter-spacing: 0.05em;
}

.nav-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}

nav ul li a:after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 6px;
  height: 2px;
  width: 0%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #8C30F5;
}

nav ul li a:hover {
  color: #8C30F5;
  letter-spacing: 0.07em;
}

nav ul li a:hover:after {
  width: 80%;
}

#header {
  padding: 15px 0;
}

#header a img {
  margin-right: 50px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header a img:last-child {
  display: none;
}

#header a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-header {
  background: center/cover no-repeat url("../assets/img/contact-header.jpg");
  padding: 65px 0;
  color: #ffffff;
  text-align: center;
}

#contact-header h2 {
  margin-bottom: 20px;
}

#formulaire {
  padding: 70px 0 115px;
}

#formulaire h3 {
  color: #8C30F5;
  margin-bottom: 12px;
}

#formulaire form {
  margin-top: 30px;
}

#formulaire form > div.dflex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

#formulaire form > div.dflex > div {
  width: 48%;
}

#formulaire form button {
  font-size: 16px;
  margin-top: 60px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#formulaire input, #formulaire label {
  display: block;
}

#formulaire label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#formulaire input, #formulaire textarea {
  background-color: #EFEAF4;
  border: none;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  border-radius: 13px;
  font-family: 'Raleway', sans-serif;
  color: #160728;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

#formulaire input:focus, #formulaire textarea:focus {
  outline: 1px solid rgba(140, 48, 245, 0.5);
}

#formulaire textarea {
  min-height: 50px;
}

#formulaire .input-green {
  background-color: rgba(46, 197, 206, 0.2);
  border: 1px solid #2EC5CE;
}

#formulaire .input-red {
  background-color: rgba(242, 43, 178, 0.2);
  border: 1px solid rgba(242, 43, 178, 0.6);
}

#footer {
  padding: 31px 0;
  background-color: #BAB5C0;
}

#footer a img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#footer a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer .nav-container {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#footer .container > a > img:last-child {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(22, 7, 40, 0.8);
  position: fixed;
  overflow: hidden;
}

#overlay #modal {
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 13px;
}

#overlay #modal h3 {
  margin-bottom: 24px;
}

#overlay #modal p.txt-l:nth-child(2) {
  min-width: 450px;
  max-width: 450px;
}

#overlay #modal p.txt-l:nth-child(3) {
  margin: 17px auto 24px;
}

/*992-1200*/
@media screen and (max-width: 1200px) {
  .container {
    width: 850px;
  }
}

/*768-992*/
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
  #header a img {
    margin-right: 20px;
  }
  #header nav {
    display: none;
  }
  #header .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #overlay #modal p.txt-l:nth-child(2) {
    min-width: 350px;
    max-width: 350px;
  }
}

/*600-768*/
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  #footer nav ul li {
    margin: 0 10px;
  }
  #footer nav ul li a {
    padding: 5px;
  }
}

/*430-600*/
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .txt-l {
    font-size: 16px;
  }
  #header a img:first-child {
    display: none;
  }
  #header a img:last-child {
    display: block;
  }
  #formulaire label {
    font-size: 16px;
  }
  #formulaire form > div.dflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #formulaire form > div.dflex input#name {
    margin-bottom: 30px;
  }
  #formulaire form > div.dflex > div {
    width: 100%;
  }
  #formulaire textarea {
    min-height: 200px;
  }
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .container > a > img:first-child {
    display: none;
  }
  #footer .container > a > img:last-child {
    display: block;
    margin-bottom: 30px;
  }
  #footer .nav {
    width: 100%;
  }
  #footer .nav-container ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #overlay #modal {
    padding: 40px;
  }
}

/*320-430*/
@media screen and (max-width: 430px) {
  #footer nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #footer nav ul li {
    margin: 20px;
  }
  #overlay #modal p.txt-l:nth-child(2) {
    min-width: 200px;
    max-width: 200px;
  }
}
/*# sourceMappingURL=main.css.map */