@import "libs/reset";
@import "libs/variables";
@import "libs/burger";

* {
    transition: all .2s ease-in-out;
}

body {
    font-family: 'Raleway', sans-serif;  // 400 700
    font-weight: 400;
    font-variant-numeric: lining-nums;
    color: $dark;
}

*::selection {
    background-color: rgba($violet, 0.5);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.container-s {
    width: 970px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.txt-l {
    font-size: 20px;
}

.txt-m {
    font-size: 16px;
}

a {
    color: $dark;
    font-size: 16px;
}

a.btn, button.btn {
    color: $white;
    background-color: $violet;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    border: none;

    &:hover {
        background-color: #3E0D76;
        letter-spacing: 0.05em;
    }
}

// _______ sections ________

.nav-container {
    align-items: center;
    width: 100%;
}

nav ul li {
    margin: 0 20px;

    a {
        padding: 10px;
        transition: all .2s ease-in-out;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 10%;
            bottom: 6px;
            height: 2px;
            width: 0%;
            transition: all .2s ease-in-out;
            background-color: $violet;
        }

        &:hover {
            color: $violet;
            letter-spacing: 0.07em;
            &:after {
                width: 80%;
            }
        }
    }
}

// _____________ HEADER _______________________________________________________
#header {
    padding: 15px 0;

    a img {
        margin-right: 50px;
        transition: all .2s ease-in-out;

        &:last-child {
            display: none;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        align-items: center;
    }
}

// _____________ CONTACT-HEADER _______________________________________________________
#contact-header {
    background: center/cover no-repeat url("../assets/img/contact-header.jpg");
    padding: 65px 0;
    color: $white;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }
}


// _____________ FORMULAIRE _______________________________________________________
#formulaire {
    padding: 70px 0 115px;

    h3 {
        color: $violet;
        margin-bottom: 12px;
    }

    form {
        margin-top: 30px;
        &>div.dflex {
            justify-content: space-between;
            margin-bottom: 30px;
            &>div {
                width: 48%;
            }
        }

        button {
            font-size: 16px;
            margin-top: 60px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    input, label {
        display: block;
    }

    label {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    input, textarea {
        background-color: $input-bg;
        border: none;
        padding: 15px 25px;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 13px;
        font-family: 'Raleway', sans-serif;
        color: $dark;
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        &:focus {
            outline: 1px solid rgba($violet, 0.7);
        }
    }

    textarea {
        min-height: 50px;
    }

    // js classes | for inputs
    .input-green {
        background-color: rgba($green, 0.2);
        border: 1px solid $green;
    }
    
    .input-red {
        background-color: rgba($red, 0.2);
        border: 1px solid rgba($red, 0.6);
    }
}

// _____________ FOOTER _______________________________________________________
#footer {
    padding: 31px 0;
    background-color: #BAB5C0;

    a img {
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }

    .nav-container {
        justify-content: right;
    }

    .container > a > img:last-child {
        display: none;
    }
}

// _____________ OVERLAY _______________________________________________________
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($dark, 0.8);
    position: fixed;
    overflow: hidden;

    #modal {
        padding: 70px;
        box-sizing: border-box;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-radius: 13px;

        h3 {
            margin-bottom: 24px;
        }

        p.txt-l:nth-child(2) {
            min-width: 450px;
            max-width: 450px;
        }

        p.txt-l:nth-child(3) {
            margin: 17px auto 24px;
        }
    }
}

@import "libs/media";